---
title: yuwash
---
{% layout "base" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
{% renderTemplate "md" %}     
# Hello, I’m Yushin!

I’m a software developer focused on automation and environmental sustainability, working primarily with Python, JavaScript, and Bash.
{% endrenderTemplate %}
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-6">
{% renderTemplate "md" %}
## Values
* **Automation for Good**: I believe in automating repetitive tasks to free up time for meaningful work
* **Environmental and Social Sustainability**: Committed to developing solutions that help save resources and protect our environment. Let’s keep 1.5°C goal within reach! In addition I also deeply care about human rights and equal opportunities for all.
* **Open Source**: Contributing to and creating open-source tools for wider community benefit
{% endrenderTemplate %}
    </div>

    <div class="col-lg-6">
{% renderTemplate "md" %}
## What I do
* Work professionally in the energy field on business process automation, web development and integration with market standards
* Create and maintain open-source projects mainly related to my personal organizational needs or small experiments:
  * [todolearn](https://github.com/yuwash/todolearn): A Caldav-based flashcard system
  * [jigsaw puzzle](https://github.com/yuwash/jigsaw-puzzle): Browser-based SVG puzzle generator
* Project management and PR works mainly for volunteer energy transition campaigns in an environmental organization
{% endrenderTemplate %}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
{% renderTemplate "md" %}
## Let’s get in touch
Tell me about your projects:
* Initiatives that are serious about stopping the climate crisis
* Solutions to improve everyday life with empowering technology
* I always love to see open-source projects

Find me on [GitHub](https://github.com/yuwash) for code collaboration!
{% endrenderTemplate %}
    </div>

    <div class="col-lg-6">
{% renderTemplate "md" %}
## What’s new/Where to find me
* Latest projects and updates on my [GitHub profile](https://github.com/yuwash)
* Mastodon: [@yuwash@eu.mastodon.green](https://eu.mastodon.green/@yuwash)
* Instagram: [@yuwasheu](https://www.instagram.com/yuwasheu/)
* Write me your thoughts at hoi<span class="replace-at">[at]<!-- irrelevant comment --></span>yuwash.eu

_This page is built with [11ty](https://11ty.dev)_
{% endrenderTemplate %}
    </div>

  </div>
</div>
{% endblock %}
