---
title: yuwash
---
{% layout "base" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
{% renderTemplate "md" %}     
# Hello, I’m Yushin!

I’m mostly hacking in python or bash to automate one chore at a
time. Also, I’m all in for any project to save resources and the
environment!
{% endrenderTemplate %}
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-3">
{% renderTemplate "md" %}
## Tools I love
* [Git](https://git-scm.com): You should always
  use it. Better than any messy backup.
* [Vim](): Yeah, it’s still great. Use a
  [plugin manager](https://github.com/VundleVim/Vundle.vim)
  to get the most out of it.
* [Pandoc](https://pandoc.org): this is really a
  reliable Swiss Army’s Knife for any document
* [Tesseract](https://github.com/tesseract-ocr/tesseract):
  Thanks for open sourcing the great OCR!
* [Docker](https://docker.com): finally getting
  the same results everywhere!
{% endrenderTemplate %}
   </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## Tools I’m still looking for
* A **transparent** system to manage
  distributed copies/backups of mixed files
* A **quick** way to automate repetitive web
  browser tasks
* A **reliable** way to backup and transfer
  emails
* A **good** TTS engine
* A **mature** editor for office documents, or
  a good library for that
{% endrenderTemplate %}
    </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## Coding

Go ahead to my
[GitHub profile](https://github.com/yuwash)

## Elsewhere

Come over to [Diaspora*](https://diasp.eu/people/89ec012b5d03f561)

Tweet me something [@yuwasheu](//twitter.com/yuwasheu)
{% endrenderTemplate %}
    </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## This lil’ page

was made with the amazing static site generator
[Cactus](https://github.com/eudicots/Cactus), using a
theme made with [Paintstrap](http://paintstrap.com/)
based on
["Confetti for 300!"](http://www.colourlovers.com/palette/3077120/Confetti_for_300!)
palette
{% endrenderTemplate %}
   </div>

  </div>
</div>
{% endblock %}
