---
title: yuwash
---
{% layout "base" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
{% renderTemplate "md" %}     
# Hello, I’m Yushin!

I’m mostly hacking in python, javascript or bash to automate one chore at a
time. Also, I’m all in for any project to save resources and the
environment!
{% endrenderTemplate %}
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-3">
{% renderTemplate "md" %}
## Recent hobby projects
* [todolearn](https://github.com/yuwash/todolearn): using
  iCalendar/Caldav for storing/synching/modelling flashcards
* [jigsaw puzzle](https://github.com/yuwash/jigsaw-puzzle)
  ([demo](https://yuwash.eu/jigsaw-puzzle)):
  make your own picture (svg or any image that can be embedded in svg)
  a puzzle in the browser
* Migrated [this page](https://github.com/yuwash/yuwash.github.io)
  from cactus to Eleventy (overdue!)
{% endrenderTemplate %}
   </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## Tools I’m still looking for
* A **transparent** system to manage
  distributed copies/backups of mixed files
* A **quick** way to automate repetitive web
  browser tasks
* A **reliable** way to backup and transfer
  emails
{% endrenderTemplate %}
    </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## Coding

Go ahead to my
[GitHub profile](https://github.com/yuwash)

## Elsewhere

(Not very active at the moment though!)

Come over to [Diaspora*](https://diasp.eu/people/89ec012b5d03f561)

Tweet me something [@yuwasheu](//twitter.com/yuwasheu)
{% endrenderTemplate %}
    </div>

    <div class="col-lg-3">
{% renderTemplate "md" %}     
## This lil’ page

was made with the static site generator
[11ty](https://11ty.dev), using a
theme made with [Paintstrap](http://paintstrap.com/)
based on
["Confetti for 300!"](http://www.colourlovers.com/palette/3077120/Confetti_for_300!)
palette
{% endrenderTemplate %}
   </div>

  </div>
</div>
{% endblock %}
